<app-header title="Detalle de la lista" backButton="/lists"></app-header>

<ion-toolbar *ngIf="list">
  <ion-title>{{ list.title }}</ion-title>
  <ion-buttons slot="end">
    <ion-button [routerLink]="['/editar-lista', list.id]">Editar</ion-button>

  </ion-buttons>
</ion-toolbar>

<ion-content *ngIf="list">
  <ion-list>
    <ion-item *ngFor="let item of list.items; let i = index">
      <ion-label>{{ item.name }}</ion-label>
      <ion-toggle [(ngModel)]="item.completed" (ionChange)="toggleItem(i)" disabled=""></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-button expand="full" color="primary">Compartir</ion-button>
</ion-content>
